# Database
DB_USER=your_username
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=todo_db
DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# Fastapi
ENVIRONMENT=development
SESSION_SECRET_KEY=session-secret-key
SESSION_COOKIE_NAME=todo_session
SESSION_MAX_AGE=604800  # 7 days
SESSION_SAME_SITE=lax

TEMPLATES_DIR = "templates-dir-name"

# Certs
PRIVATE_KEY_PATH=/private/key/path.pem
PUBLIC_KEY_PATH=/public/key/path.pem

# Debug
DEBUG=True